#grid-container {
    display: grid;
    grid-gap: 8px;
    grid-template-columns: 1fr, 3fr ;
    justify-content: center;
    grid-template-areas:
        "header  header"
        "container     container"
        "footer  footer";
}

header {
    grid-area: header;
    background-color: #5D7586;
}
.container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 50px;  
    justify-content: center;         
}
footer {
    grid-area: footer;
    background-color: #6d4856;
    }
.box {
    width: 200px;
    height: 200px;
    background-color: crimson;
    border-radius: 30px;
}

